{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Shopping Cart</h2>
        <hr />
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in template_data.movies_in_cart %}
          <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td>${{ movie.price }}</td>
            <td>{{request.session.cart|get_quantity:movie.id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Checkout Form -->
    {% if template_data.movies_in_cart|length > 0 %}
    <div class="row mt-3">
      <div class="col-md-6 mx-auto">
        <form method="POST" action="{% url 'cart.purchase' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <input type="text" name="city" id="city" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State:</label>
            <input type="text" name="state" id="state" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input type="text" name="country" id="country" class="form-control" value="USA">
          </div>
          <div class="d-flex justify-content-between">
            <a href="{% url 'cart.clear' %}" class="btn btn-danger">Remove all movies from Cart</a>
            <button type="submit" class="btn bg-dark text-white">
              Purchase - ${{ template_data.cart_total }}
            </button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock content %}
